doctype html
html
    head
        title Mon compte
        link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
        link(rel="stylesheet" href="/css/materialize.min.css")
        link(rel="stylesheet" href="/css/style.css")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
    body.grey.lighten-3
        nav.blue
            .nav-wrapper
                a.brand-logo(href="/" alt="Accueil")
                    img(src="/img/logo-white.png" alt="Logo Diabetips")
                ul#nav-mobile.right
                    li
                        a(href="/logout") Déconnexion
        main.container
            .row
                .col.l4.m6.s12
                    .card.white
                        .card-content
                            .row
                                span.col.s12.card-title Mon profil
                                .col.s12.m6
                                    span
                                        b Nom
                                .col.s12.m6.right-align-on-med-and-up
                                    span #{user.first_name} #{user.last_name}
                                .col.s12.m6
                                    span
                                        b Adresse email
                                .col.s12.m6.right-align-on-med-and-up
                                    span #{user.email}
                        .card-action
                            a(href="/profile") Modifier mon profil
                .col.l4.m6.s12
                        .card.white
                            .card-content
                                .row
                                    span.col.s12.card-title Mes applications
                                    .col.s12
                                        span #{apps} application#{apps > 1 ? "s" : ""} connectée#{apps > 1 ? "s" : ""}
                            .card-action
                                a(href="/apps") Gérer mes applications
                //.col.l4.m6.s12
                        .card.white
                            .card-content
                                .row
                                    span.col.s12.card-title Template
                                    .col.s12
                                        span Lorem ipsum
                            .card-action
                                a(href="#") Action

        script(src="/js/materialize.min.js")
